datasets/
external/
train_results/
train_model/
ui_structure_analysis/
docs/
*.log
*test*.py
*debug*.py
*verify*.py
*.txt
*.pid
# 大文件需要 Git LFS 跟踪或忽略
*.pt
*.png
*.jpg
*.jpeg
*.eot
*.svg
*.md
*.mdc
*.csv
*.xlsx
*.json

run/*
media/
# 不忽略前端目录和Django静态文件目录下的图片资源
!wfgame-ai-web/public/*.svg
!wfgame-ai-web/public/*.png
!wfgame-ai-web/src/assets/*/*.svg
!wfgame-ai-web/src/assets/**/*.png

wfgame-ai-server/staticfiles/dist/

# IDE
.vscode/
.idea/
.cursor/

# 静态文件和报告
wfgame-ai-server/logs/
wfgame-ai-server/staticfiles/reports/
wfgame-ai-server/staticfiles/reports/summary_reports/
wfgame-ai-server/staticfiles/reports/ui_run/
wfgame-ai-server/apps/scripts/screen_analysis_results/screen_analysis_results/
wfgame-ai-server/apps/scripts/ui_detection_output/
wfgame-ai-server/media/ocr/
wfgame-ai-server/${server_dir}
wfgame-ai-server/apps/reports/tmp/

# Python 缓存文件
__pycache__/
*.py[cod]
*$py.class

# 提高 Git 缓冲区 (500MB)
# 如果遇到缓冲区不足问题，请运行:
# git config --global http.postBuffer 524288000


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
output/ocr/results/predict/

wfgame-ai-server/node_modules/*

# configs
config_*.ini

/wfgame-ai-web/node_modules/
/.vscode/
run/celery_dev.pid
ai_debug/